* {
    margin: 0ch;
    padding: 0px;
}

.box {
    width: 50%;
    margin: 0px auto 200px auto;
    border-width: 10px;
    border-style: solid;
    font-size: 20px;
    font-weight: 300;
    border-width: 100px;
    padding: 10%;
}

.box h1 {
    font-weight: 400;
    font-size: 50px;
    bottom: 8990px;
    margin: 0px;
    text-align: left;
    padding-bottom: 20%;
}