* {
    margin: 0px;
    padding: 0px;
}

.mainmariobg {
    width: 100%;
    height: 100vh;
    background-image: url(image/backgrondn.jpg);
    background-size: 100% 100%;
}

.mario {
    position: absolute;
    bottom: 150px;
    animation-name: mariorun;
    animation-duration: 6s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}

@keyframes mariorun {
    0% {
        left: 0%;
    }
    100% {
        left: 80%;
    }
}

h2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: 20%;
    left: 40%;
    animation: mariotext 4s linear;
    animation-iteration-count: 5;
    animation-delay: 1s;
    border: 10px solid black;
}

@keyframes mariotext {
    0% {
        font-size: 3em;
    }
    100% {
        font-size: 6em;
        left: 40%;
    }
}