* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(image/home.png);
    width: 50vh;
    height: 50em;
    background-size: 100% 100%;
}

.main {
    margin: 0% 80%;
    font-size: 30px;
    font-weight: bold;
    font-size: 5rem;
    padding-left: 60%;
    padding-top: 40%;
    animation: theme 6s 1s 6;
}

@keyframes theme {
    0% {
        font-size: 3em;
    }
    100% {
        font-size: 6em;
        left: 40%;
    }
}